html{
    text-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.footer>span:first-child  {
    display:none
}

.personal-img{
    max-height: 200px;
    display: block;
    margin: 6rem auto 1.5rem;
    border-radius: 50%;
    box-shadow: 0 5px 18px rgba(0,0,0,0.2)
}